@font-face {
  font-family: "iconfont"; /* Project id 4649080 */
  src: url('iconfont.woff2?t=1724054220600') format('woff2'),
       url('iconfont.woff?t=1724054220600') format('woff'),
       url('iconfont.ttf?t=1724054220600') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e601";
}

.icon-bing:before {
  content: "\e602";
}

.icon-google:before {
  content: "\e604";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-mti-jiantouxia:before {
  content: "\e73d";
}

.icon-mti-guanbi:before {
  content: "\e73e";
}

.icon-sousuo:before {
  content: "\e614";
}

